* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.calculator {
  display: flex;
  flex-direction: column;
  border-radius: 37.5px;
  padding: 15px;
  background-color: #525252;
}

.display {
  padding-top: 10px;
}

.preview {
  font-size: 18px;
  width: auto;
  height: 20px;
  text-align: right;
}

.results {
  color: #fff;
  width: auto;
  height: 75px;
  text-align: right;
  font-size: 50px;
}

.input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

button {
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 20px;
  width: 75px;
  height: 75px;
  padding: 20% 20%;
  border: 0;
  border-radius: 50%;
  background-color: #3a3a3a;
  color: #fff;
}

button:focus {
  outline: 0;
}

.number {
  background-color: #000;
}

#equals {
  background-color: #253066;
}

#one {
  grid-column: 1;
  grid-row: 4;
}

#two {
  grid-column: 2;
  grid-row: 4;
}

#three {
  grid-column: 3;
  grid-row: 4;
}

#four {
  grid-column: 1;
  grid-row: 3;
}

#five {
  grid-column: 2;
  grid-row: 3;
}

#six {
  grid-column: 3;
  grid-row: 3;
}

#seven {
  grid-column: 1;
  grid-row: 2;
}

#eight {
  grid-column: 2;
  grid-row: 2;
}

#nine {
  grid-column: 3;
  grid-row: 2;
}

#zero {
  grid-column-start: 2;
  grid-row-start: 5;
}

#add {
  grid-column-start: 4;
  grid-row-start: 4;
}

#subtract {
  grid-column-start: 4;
  grid-row-start: 3;
}

#multiply {
  grid-column-start: 4;
  grid-row-start: 2;
}

#divide {
  grid-column-start: 4;
  grid-row-start: 1;
}

#decimal {
  grid-column-start: 3;
  grid-row-start: 5;
}

#plus-minus {
  background-color: #000;
  grid-column-start: 1;
  grid-row-start: 5;
}

#equals {
  grid-column-start: 4;
  grid-row-start: 5;
}
